# dependencies
node_modules/
*/node_modules/

# environment variables
.env
.env.*
*/.env
*/.env.*

# prisma generated client
generated/

# logs
*.log

# build output
dist/
build/
.next/
out/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# coverage
coverage/